<div class="card">
  <div class="card__image">
    <img
      width="160"
      height="160"
      [src]="item().thumbnail"
      [alt]="item().title"
      appImgFallback />
  </div>
  <div class="card__content">
    <p class="card__title">{{ item().title }}</p>
    <p class="card__description" [title]="item().description">
      {{ item().description }}
    </p>
    <p class="card__price">{{ item().price | currency }}</p>
  </div>
  <div class="card__button">
    <app-favorite-toggle
      [initialValue]="favorite()"
      (favoriteChanged)="handleFavorite($event)" />
  </div>
</div>
