<div class="card" [ngStyle]="{ 'height.px': height() }">
  <div class="card__image">
    <img
      width="160"
      height="160"
      [src]="item().thumbnail"
      [alt]="item().title"
      appImgFallback />
  </div>
  <div class="card__content">
    <p class="card__title">{{ item().title }}</p>
    <p class="card__description" [title]="item().description">
      {{ item().description }}
    </p>
    <p class="card__price">{{ item().price | currency }}</p>
  </div>
  @if (favorite()) {
    <button
      class="card__button"
      mat-icon-button
      (click)="handleRemove(item().id)">
      <mat-icon>favorite</mat-icon>
    </button>
  } @else {
    <button class="card__button" mat-icon-button (click)="handleAdd(item().id)">
      <mat-icon>favorite_border</mat-icon>
    </button>
  }
</div>
