<div class="product-list">
  @if (title()) {
    <p class="title">{{ title() }}</p>
  }
  @if (items().length) {
    <cdk-virtual-scroll-viewport scrollWindow [itemSize]="itemHeight">
      <div
        [ngStyle]="{ 'height.px': itemHeight }"
        *cdkVirtualFor="let item of items(); trackBy: trackByFn">
        <app-product-card
          [item]="item"
          [favorite]="favoriteIds().includes(item.id)" />
        <mat-divider></mat-divider>
      </div>
    </cdk-virtual-scroll-viewport>
  } @else {
    <p class="empty-message">{{ emptyMessage() }}</p>
  }
</div>
