.header {
  background-color: var(--mat-sys-primary-container);
}

.logo {
  padding: 0 2rem;
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
}
