/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

.product-list .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.logo {
  font-weight: 500;
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  user-select: none;
}

.container {
  max-width: 1140px;
}
