/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}
