.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 0.5rem;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 0;
}
